.openHouse-panel{
  width: 100%;
  background-color: #004D40;
  padding: 100px 0;
  /*
  background: url(../../assets/abstract.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/

}
.container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  color: #ddd;
}
.text-component1{
  margin-top: 20px;
  padding: 18px;
}
.first-heading{
  color: rgb(255, 210, 0);
  font-size: 30px;
  text-transform: uppercase;
}
.text-component1 h4{
  text-align: center;
  font-weight:350;
  color: #434343;
  font-size: 20px;
  margin: 5px 0;
  line-height: normal;

}
.row{
  display: flex;
  justify-content: space-between;
}
.column{
  flex: 60%;
  margin-right: 5px;
  padding: 15px;
}
.column3{
  flex: 50%;
  margin-left: 10px;
}
.column img{
  border-radius: 50%;
  border: 8px solid #fff;
  display: block;
}
.fouth-heading{
  text-align: left;
  font-weight: 400;
  color: white;
  margin: 20px 0;
  padding: 15px;
}
.font-change{
  color: #FFD700;
}
.link{
  color: #004D40;
  font-size: 15px;
}
.button-links{
  width: 100%;
  display: block;
 background-color: #FFD700;
 padding: 10px;
 margin-top: 20px;
margin-bottom: 20px;
}