.openHouse-panel{
  width: 100%;
  background-color: #004D40;
  padding: 100px 0;
}
.container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
  color: #ddd;
}
.text-component1{
  margin-top: 20px;
  padding: 18px;
}
.first-heading{
  color: rgb(255, 210, 0);
  font-size: 30px;
  text-transform: uppercase;
}
.text-component1 h4{
  text-align: center;
  font-weight:350;
  color: #434343;
  font-size: 20px;
  margin: 5px 0;
  line-height: normal;
}
.row{
  display: flex;
  justify-content: space-between;
}
.column{
  flex: 60%;
  margin-right: 5px;
  padding: 15px;
}
.column3{
  flex: 50%;
  margin-left: 10px;
}
.column img{
  width: 100%;
  display: block;
  border-radius: 50%;
  border: 8px solid #fff;
}
.fouth-heading{
  text-align: left;
  font-weight: 400;
  color: white;
  margin: 20px 0;
  padding: 15px;
}
.font-change{
  color: #FFD700;
}
.link{
  color: #004D40;
  font-size: 15px;
}
.button-links{
  width: 100%;
  display: block;
  background-color: #FFD700;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-links a{
  display: block;
  padding: 10px 20px;
}
.button-links a:hover{
  color: #333;
  text-decoration: underline;
}

@media (min-width: 900px) and (max-width: 1024px){
  .buttonlinks-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 7px;
  }
  .button-links{
    padding: 20px;
  }
  .column img{
    border-radius: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .row{
    flex-wrap: wrap;
    gap: 10px;
  }
  .column{
    flex: 1 1 45%;
  }
  .column3{
    flex: 1 1 100%;
  }
  .column img{
    border-radius: 0;
    border: 2px solid #fff;
  }
}

@media (max-width: 768px){
  .openHouse-panel{
    padding: 25px 0;
  }
  .container{
    width: 100%;
    max-width: 1140px;
  }
  .text-component1{
    padding: 15px;
  }
  .first-heading{
    color: rgb(255, 210, 0);
    font-size: 22px;
    text-transform: uppercase;
  }
  .text-component1 h4{
    text-align: center;
    font-weight:350;
    color: #434343;
    font-size: 17px;
    margin: 5px 0;
    line-height: normal;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .column img{
    border-radius: 0;
    border: 5px solid #fff;
    display: block;
  }
  .link{
    font-size: 16px;
  }
  
}