.video-container{
  position: relative;
  display: flex;
 justify-content: center;
 align-items: center;
}

.hero-video{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif ;
  font-size: 25px;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.hero-play{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
}
.pulse{
  animation: pulse 1.5s infinite;
}
@keyframes pulse{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  50%{
    transform: scale(1.1);
    opacity: 0.7;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.hero-image{
  width: 100%;
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px){
  .hero-text{
    width: 80%;
    font-size: 19px;
  }
}

@media (max-width: 768px){
 .hero-video,
 .hero-play{
  display: none;
 }
 .hero-image{
  display: block;
 }
 .hero-text{
  font-size: 9px;
  line-height: 1.5;
 }

}