.parent-panel{
  width: 100%;
  background-color:#eee ;
  padding: 100px 0 100px 0;
}
.parent-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.parent-component{
  margin-top: 20px;
  padding: 15px;
}
.parent-row{
  display: flex;
  justify-content: space-between;
}
.parent-column{
  flex-basis: 48%;
}
.parent-column h2{
  color: #434343 !important;
  font-family: "montserrat";
  text-transform: uppercase;
  font-size: 30px !important;
  margin: 5px 0;
  font-weight: bold;
}
.parent-column h3{
  font-size: 26px;
  font-weight: 400;
  color: #434343; 
  margin: 5px 0;
  line-height: 36px;
}
.parent-h,
.parent-column h4{
  font-weight: 400;
  font-size: 20px;
  color: #434343;
  margin: 5px 0;
  line-height: normal;
}
.parent-column img{
  width: 100%;
}
.parent-button{
  background-color: #fff;
  font-size: 20px;
  color: #145A32;
  font-weight: normal;
  border: 1px solid #145A32;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 22px;
}
.parent-button:hover{
  background-color: #145A32;
  color: #fff;
}
.parent-column img{
  max-width: none;
  display: block;
}


@media (min-width: 769px) and (max-width: 1024px){
  .parent-h{
    margin-top: 30px !important;
    margin-bottom: 5px;
    line-height: 1.2 !important;
  }
  .parent-button{
    font-weight: 700;
  }
}

@media (max-width: 768px){
  .parent-panel{
    padding: 25px 0 5px;
  }
  .parent-container{
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .parent-row{
    flex-direction: column;
  }
  .parent-component h2{
    font-size: 24px !important;
  }
  .parent-component h3{
    font-size: 20px;
  }
  .parent-h{
    font-size: 18px;
  }
  .parent-image{
    margin-top: 20px;
  }
  .parent-image img{
    width: 100%;
  }
  .parent-button{
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
  }
}