.parent-panel{
  width: 100%;
  background-color:#eee ;
  padding: 100px 0 100px 0;
}
.parent-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.parent-component{
  margin-top: 20px;
  padding: 15px;
}
.parent-row{
  display: flex;
  justify-content: space-between;
}
.parent-column{
  flex-basis: 48%;
}
.parent-column h2{
  color: #434343 !important;
  font-family: sans-serif;
  font-size: 30px !important;
  margin: 5px 0;
  font-weight: bold;
}
.parent-column h3{
  font-size: 26px;
  font-weight: 400;
  color: #434343; 
  margin: 5px 0;
  line-height: 36px;
}
.parent-column p{
  font-size: 20px;
  color: #434343;
  margin: 5px 0;
  line-height: normal;
}
.parent-button{
  background-color: #fff;
  font-size: 20px;
  color: #145A32;
  font-weight: normal;
  border: 1px solid #145A32;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 22px;
}
.parent-button:hover{
  background-color: #145A32;
  color: #fff;
}
.parent-column img{
  max-width: none;
  display: block;
}