.equity-panel{
  width: 100%;
  background-color: #EEEEEE;
  padding: 60px 0;
}
.equity-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.equity-textcomponent{
  margin-top: 20px;
  padding: 15px;
}
.equity-textcomponent h3{
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 26px;
  color: #434343;
  margin: 5px 0;
  line-height: 36px;
}
.equity-textcomponent h4{
  font-family: 'montserrat';
  font-weight: 300;
  font-size: 20px;
  color: #434343;
  margin: 5px 0;
  line-height: normal;
}
.equity-button{
    background: #ffffff;
    
    font-size: 20px;
    color: #145A32;
    font-weight: normal;
    border: 1px solid #145A32;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 8px;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 22px;
}
.equity-link a{
  font-family: "montserrat";
  font-weight: 600;
}
.equity-button:hover{
  background-color: #004D40;
  color: #fff;
}