.navbar{
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  position: absolute;
  z-index: 1;
}
.navbar-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.navbar-list{
  display: flex;
  padding: 8px;
  justify-content: center;
  text-align: left;
  line-height: 14px;
  margin: 7.5px - 15px;
}
.sidebar{
  position: fixed;
  left: -290px;
  top: 0;
  width: 290px;
  height: 100%;
  background-color: #EEE;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}
.sidebar.open {
  left: 0;
}
.sidebar-overlay.open {
  display: block;
}
#QuickLink-button {
  width: 290px;
  padding: 12px 15px;
  border: none;
  text-align: left;
  background-color: #003731;
  color: #FFF;
  position: relative;
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
}
.collapse.show{
  display: block;
}
.quicklink-mobile ul{
  padding: 7px 20px;
  font-weight: 350;
}
.quicklink-mobile ul li{
  color: #004D40;
  padding: 7px 0;
  font-size: 16px;
}
.navbar-list > li {
  position: relative;
  color: #FFF;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 151px;
  box-shadow: 1px 0 0 0 #EEE;
}
.navbar-list > li:last-child {
 box-shadow: none; 
}
.nav-dropdown{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 12px;
  background-color: #EEE;
  text-align: left;
  padding: 5px o; 
  margin: 2px 0 0;
  width: 100%;
  background-clip: padding-box;
  height: 360px;
  border: 1px solid ;
}
.nav-dropdown li a{
  display: block;
  padding: 5px 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 13px;
  white-space: normal;
  color: #004D40;
  cursor: pointer;
  line-height: normal;
  margin-right: 5px;

}
.navbar-list:hover .nav-dropdown{
  display: block;
}
.navbar-list li:hover .nav-dropdown{
  background-color: #FFF;
  color: #004D40;
  border: none;
}
.navbar-list > li:hover {
  background-color: #FFF; 
  color: #004D40;
}
.nav-toggle{
  display: none;
  position: absolute;
  top: -31px;
  right: 2%;
  transform: translateY(-50%);
  z-index: 4;
  background: none;
  border: none;
  font-size: 31px;
  color: #FFF;
  cursor: pointer;
}
.nav-toggle:focus {
  outline: none;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}
#icon-list li img{
  width: 35px;
  height: 35px;
}
#QuickLink-button span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-left: 2px solid #1F7A55;
  padding: 5px 12px;
  z-index: 1;
}
#header-icons{
  position: relative;
  padding-top: 10px;
  width: 290px;
  background-color: #666;
}
#icon-list{
  margin-left: 10px;
  padding-bottom:35px;
}
#header-icon{
  float: left;
  height: 35px;
  width: 48px;
}
#header-icon a{
  min-width: 30px;
  min-height: 40px;
  display: inline-block;
}
#header-icon a img,
#header-icon img{
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
}
.quicklink-mobile{
  background-color: #E0E0E0;
  width: 290px;
}
.collapse{
  display: none;
}
button span{
  transition: transform 0.3s ease;
}
#navbar-list{
  background: #FFF;
  padding: 7px;
  width: 290px;
}
#navbar-list > li {
  position: relative;
  display: block;
  color: #004D40;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border-bottom: 1px solid #EEE;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
}
#navbar-list > li:last-child {
  border: none; 
 }
 #navbar-list > li >a {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 5px;
 }
 #navbaralign{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
 }
#nav-dropdown{
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
  padding: 5px 0;
  margin: 2px 0;
  font-size: 14px;
  text-align: left;
}
#nav-dropdown li{
  margin-bottom: 10px;
}
#nav-dropdown li a{
  font-size: 16px;
  line-height: normal;
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: capitalize;
  white-space: normal;
}
#nav-dropdown.show{
  opacity: 1;
  height: auto;
}
@media (min-width: 320px) and (max-width: 375px) {
  .nav-toggle{
    display: block;
   }
  .navbar-list{
    display: none;
  }
  .sidebar{
    display: block;
  }
}