.footer-panel{
  width: 100%;
  background: white;
  border-top: 2px solid #FFD700;
}
.footer-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.footer-logo img{
  width: 100%;
}
.footer-header{
  margin: 0;
  position: relative;
  padding: 5px 0;
}
.footer-logo{
  position: absolute;
  width: 60px;
  left: 0;
  top: -20px;
  z-index: 2;
  transform: translateX(-50%);
}
.footer-logo img{
  border-radius: 100%;
}
.carousel{
  display: flex;
  margin-bottom: 7px;
}
.carousel-item{
 flex: 33.33%;
 margin: 10px;
 position: relative;
}
.carousel-content{
  position: absolute;
  width: 100%;
  bottom: 3px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px 0;
  font-family: "montserrat";
  font-weight: 300;
}
.carousel-content p{
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.dsu-home a{
  font-size: 24px;
  color: #2ECC71;
}
.dsu-home span{
  color: #434343;
  font-family: "montserrat";
  font-weight: 300;
  font-size: 18px;
}
.footer-panel hr{
  width: 100%;
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 10px 0 10px 0;
  padding: 0;
}
.footer-rowlinks{
  display: flex;
  justify-content: space-between;

}
.footer-columnlinks{
  flex: 25%;
}
.linksheader h3{
  color: #222;
  font-size: 24px;
  font-family: "montserrat";
  font-weight: normal;
  text-transform: uppercase;
}
.linksheader ul{
  list-style: none;
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}
.linksheader ul li{
  color: #00AA66;
  font-size: 14px;
  margin: 7.5px 0px ;
}
.fontawesome{
  margin-left: 5px;
  color: #00AA66;
}
#li{
  color: #434343;
}
.social-icons{
  padding: 10px 0 10px 0;
  text-align: center;
}
.social-icons-desktop{
display: flex;
justify-content: space-between;
width: 190px;
padding-left: 0;
font-size: 14px;
}
.social-icons-desktop img{
  height: 20px;
  object-fit: contain;
}
.fa-brands {
  font-size: 20px;
  height: 20px;
  margin-right: px;
}
.footer-fulllinks{
  margin: 7px auto;
  background-color: #EEE;
  font-family: "montserrat", sans-serif;
}
.footer-container-fluid{
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  margin: 0;
}
.footer-linkItem{
  padding: 8px 10px 0 0;
  display: inline-block;
  color: #000;
}
.footer-linkItem a{
  text-decoration: underline;
  color: #2ECC71;
}
.connect{
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px){
  .footer-logo{
    left: 50%;
  }
  .linksheader ul{
    font-weight: 350;
    font-size: 15px;
  }
  #li{
    font-size: 15px;
   }
  .linksheader h3{
    font-size: 20px;
  }
}


@media (max-width: 768px){
  .footer-container{
    width: 100%;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .carousel{
    display: none;
  }
  .footer-logo{
    left: 58%;
  }
  .footer-logo img{
    width: 50%;
  }
  .dsu-home span{
    font-size: 14px;
  }
  .footer-rowlinks{
    flex-direction: column;
  }
  .social-icons-desktop{
   margin-left: 35%;
  }
  .connect{
    display: block;
  }
 .footerhr{
  display: none;
 }
 #li{
  font-size: 12px;
 }
 .li-padding{
  padding-bottom: 60px !important;
 }
 .linksheader h3{
  padding-top: 10px;
  font-size: 15px;
 }
 .linksheader ul li{
  font-size: 12px;
  padding: 7.5px 0;
 }

}
@media (max-width: 480px){
  .social-icons-desktop{
    margin-left: 45px;
   }
}