.visit-panel{
  width: 100%;
  background: white;
  padding: 100px 0 100px 0;

}
.visit-container{
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}
.visit-component{
  margin-top: 20px;
  padding: 15px;
}
.visit-firstheading{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: #004D40;
  text-align: center;
}
.visit-secondheading,
.visit-thirdheading{
  color: #434343;
  font-size: 20px;
  margin: 5px 0;
  text-align: center;
  line-height: normal;
}
.visit-secondheading{
  font-weight: 300;
}
.visit-thirdheading{
  font-weight: 500;
}
.visit-row{
  display: flex;
}
.visit-column{
  flex: 33.3%;
  padding: 15px;
  position: relative;
}
.visit-column img{
  width: 100%;
}
.visit-button{
  display: block;
  position: absolute;
  left: 45%;
  bottom: 30px;
  width: 34px;
  font-size: 20px;
  line-height: 15px;
  padding: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  cursor: pointer;
  transition: background 0.3s ease;
}
.visit-button:hover{
  background: rgba(0, 0, 0, 0.7);
}
.visit-imageText{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.visit-imageText p{
  font-weight: 300;
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
  position: relative;
  width: 100%;
  text-align: center;
  text-shadow: 3px 4px 5px rgba(50, 50, 50, 0.53);
}
.visit-imageText h4{
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  text-shadow: 3px 4px 5px rgba(50, 50, 50, 0.53);
}
.vlink a{
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 20px;
  width: 100%;
}
.apply{
  font-weight: 700;
  background-color: #004D40;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.admission{
  font-weight: 700;
  background-color: #333;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.major{
  font-weight: 700;
  background-color: #2ECC71;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

@media (min-width: 769px) and (max-width: 1024px){
  .visit-imageText{
    top: 20%;
  }
  .visit-imageText h4{
    font-size: 16px;
  }
  .visit-button{
    bottom: 115px;
    left: 82%;
    font-size: 17px;
    background-color: transparent;
    border: none;
  }
}
  
@media (max-width: 768px){
  .visit-panel{
    padding: 25px 0;
  }
  .visit-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1140px;
  }
  .visit-firstheading{
    font-size: 26px;
  }
  .visit-secondheading{
    margin-top: 0;
  }
  .visit-thirdheading{
    font-size: 18px;
  }
  .visit-row{
    flex-direction: column;
  }
  .visit-column img{
   width: 100%;
   display: block;
  }

}
