
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-container{
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}
body{
  background: #fff;
}
.main-header{
  position: relative;
  z-index: 3;
}
a{
  text-decoration: none;
  color: inherit;
  list-style: none;
  line-height: 1;
  cursor: pointer;
}
